In [229]:
import pandas as pd
import numpy as np
import json

In [230]:
movie_df = pd.read_json('../data/data/tmdb-movies.json')

In [231]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   10866 non-null  int64
 1   imdb_id               10866 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10866 non-null  object
 7   homepage              10866 non-null  object
 8   director              10866 non-null  object
 9   tagline               10866 non-null  object
 10  keywords              10866 non-null  object
 11  overview              10866 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10866 non-null  object
 14  production_companies  10866 non-null  object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

### Handling Missing Values

In [232]:
movie_df['revenue']

0        1513528810
1         378436354
2         295238201
3        2068178225
4        1506249360
            ...
10861             0
10862             0
10863             0
10864         32131
10865        321312
Name: revenue, Length: 10866, dtype: int64

In [233]:
movie_df[movie_df['revenue'] == 0 ].count()
del movie_df["tagline"], movie_df["homepage"]

In [234]:
# Lọc dữ liệu bẩn theo điều kiên
movie_df = movie_df[movie_df['revenue'] !=0 ]
movie_df = movie_df[movie_df['revenue_adj'] !=0 ]

In [235]:
movie_df = movie_df.replace([{'$numberDouble': 'NaN'}],"non-director")
movie_df = movie_df[movie_df['director'] != "non-director" ]

In [236]:

#Điền giá trị nan
movie_df = movie_df.fillna(method='pad')
# Xóa các bản ghi mất dữ liệu
movie_df.dropna(inplace=True)
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4849 entries, 0 to 10865
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   4849 non-null   int64
 1   imdb_id               4849 non-null   object
 2   popularity            4849 non-null   float64
 3   budget                4849 non-null   int64
 4   revenue               4849 non-null   int64
 5   original_title        4849 non-null   object
 6   cast                  4849 non-null   object
 7   director              4849 non-null   object
 8   keywords              4849 non-null   object
 9   overview              4849 non-null   object
 10  runtime               4849 non-null   int64
 11  genres                4849 non-null   object
 12  production_companies  4849 non-null   object
 13  release_date          4849 non-null   object
 14  vote_count            4849 non-null   int64
 15  vote_average          4849 non-null   float64
 16  release_year          4849 non-null   int64
 17  budget_adj            4849 non-null   float64
 18  revenue_adj           4849 non-null   float64
dtypes: float64(4), int64(6), object(9)
memory usage: 757.7+ KB

In [237]:
# filter2.head(2)

In [238]:
# filter2.to_json("../data/Cleaned_Data.json", index = None)
movie_df.to_csv("../data/Cleaned_Data.csv", index = None)